body {
  background-color: indigo;
  text-color: black;
}

h1{
  color: white;
  font-size: 200%;
}

p1{
  color:white;
  font-size: 100%;
}

img {
  display: block;
  max-width: 100%;
}

ul{
  list-style-type: none;
  background-color: indigo;
}

li a{
  display: block;
  color: white;
  font-size: 80%;
  float: left;
  overflow: hidden;
  text-align: left;
  padding: 15px;
}
